# Fitting a Logistic Regression Model - Lab

## Introduction
You were previously given a broad overview of logistic regression. This included two separate packages for creating logistic regression models. In this lab, you'll be investigating fitting logistic regressions with statsmodels.



## Objectives

You will be able to:
* Implement logistic regression with statsmodels
* Interpret the statistical results associated with regression model parameters

## Review

The statsmodels example we covered had four essential parts:
* Importing the data
* Defining X and y
* Fitting the model
* Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
x_feats = ["Race", "Sex", "Age"]
X = pd.get_dummies(salaries[x_feats], drop_first=True, dtype=float)
y = pd.get_dummies(salaries["Target"], dtype=float)

#Step 3: Fitting the model
X = sm.add_constant(X)
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

Recall that we fit the salary data using `Race`, `Sex`, and `Age`. Since `Race` and `Sex` are categorical, we converted them to dummy variables using the `get_dummies()` method. The ```get_dummies()``` method will only convert `object` and `category` data types to dummy variables so it is safe to pass `Age`. Note that we also passed two additional arguments, ```drop_first=True``` and ```dtype=float```. The ```drop_first=True``` argument removes the first level for each categorical variable and the ```dtype=float``` argument converts the data type of all of the dummy variables to float. The data must be float in order to obtain accurate statistical results from statsmodel. Finally, note that y itself returns a pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic.csv**.

In [1]:
# Your code here
import pandas as pd
import statsmodels.api as sm

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is D816-28B0

 Directory of C:\Users\luigi\FlatironSchool\Module04\Section_29\dsc-fitting-a-logistic-regression-model-lab-online-ds-pt-051319

15/10/2019  11:59    <DIR>          .
15/10/2019  11:59    <DIR>          ..
15/10/2019  11:32                69 .gitignore
15/10/2019  11:35    <DIR>          .ipynb_checkpoints
15/10/2019  11:32                96 .learn
15/10/2019  11:32             1,849 CONTRIBUTING.md
15/10/2019  11:59            25,796 index.ipynb
15/10/2019  11:32             1,371 LICENSE.md
15/10/2019  11:32             4,004 README.md
15/10/2019  11:32            61,194 titanic.csv
               7 File(s)         94,379 bytes
               3 Dir(s)  63,306,240,000 bytes free

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Define X and Y

For your first foray into logistic regression, you are going to attempt to build a model that classifies whether an individual survived the Titanic shipwreck or not (yes it's a bit morbid). Follow the programming patterns described above to define X and y.

In [6]:
# Your code here
x_feats = ["Pclass", "Age", "SibSp", "Parch", "Sex", "Embarked"]
X = pd.get_dummies(df[x_feats], drop_first=True, dtype=float)
y = df["Survived"].astype(float)
X = X.dropna()
y = y[y.index.isin(X.index)]

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"

Statsmodels was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertible due to not being full rank. In layman's terms, there was a lot of redundant, superfluous data. Try removing some features from the model and running it again.

In [7]:
# Your code here
# create intercept term required for sm.Logit, see documentation for more information
X = sm.add_constant(X)
# fit model
logit_model = sm.Logit(y, X)
# get results of the fit
result = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.443329
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [9]:
# Your code here
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      706
Method:                           MLE   Df Model:                            7
Date:                Tue, 15 Oct 2019   Pseudo R-squ.:                  0.3436
Time:                        12:00:40   Log-Likelihood:                -316.54
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 1.152e-67
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.8178      0.566     10.283      0.000       4.709       6.927
Pclass        -1.2456      0.145     -8.587      0.000      -1.530      -0.961
Age           -0.0435      0.008     -5.296      0.000      -0.060      -0.027
SibSp         -0.3552      0.128     -2.772      0.006      -0.606      -0.104
Parch         -0.0457      0.121     -0.378      0.705      -0.282       0.191
Sex_male      -2.6469      0.222    -11.925      0.000      -3.082      -2.212
Embarked_Q    -0.8552      0.599     -1.428      0.153      -2.029       0.319
Embarked_S    -0.4425      0.264     -1.678      0.093      -0.959       0.074
==============================================================================
"""

## Your analysis here

Based on our P-values, most of the current features appear to be significant based on a .05 significance level. 
That said, the 'Embarked' and 'Fare' features were not significant based on their higher p-values.

## Summary 

Well done! In this lab, you practiced using statsmodels to build a logistic regression model. You then reviewed interpreting the results, building upon your previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!